
@{
    ViewBag.Title = "inbox";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@Html.Partial("_AdminHeader")

<!--main content begins -->
<div class="ed_transprentbg ed_toppadder90 ed_bottompadder90" style="back">
    <div class="container content">
        <div class="row">
            <!-- left side bar for quick links -->
            <div class="col-lg-3 col-md-3 col-sm-3 adminsidebar">
                <h3 style="font-weight: bolder;COLOR:#FFF;">QUICK LINKS</h3>

                @Html.Partial("_HeaderLink")

            </div>
            <!-- left side bar for quick links ends -->
            <!-- right side bar for tracking details and feedback -->
            <div class="col-lg-9 col-md-9 col-sm-9 admincreateidbar">
                <hgroup>
                    <h4 style="font-weight:bolder;"><i class="fa fa-inbox"></i> Received Messages</h4>
                    <br>
                </hgroup>
                <div class="error_detect"> </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr style="background-color:#cfcdcd;">
                            <th>EMAIL</th>
                            <th>SUBJECT</th>
                            <th>MESSAGE</th>
                            <th>DATE SENT</th>
                            <th>   </th>
                        </tr>

                    </table>
                </div>

            </div>
        </div>



    </div>

    <!-- right sidebar tracking details and feedback ends-->
</div>

