
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!--<div class="ed_header_bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="pro_logo"> <a href="#"><img src="../images/header/lg7.png" style="width:40%;height:40%;" alt="logo" /></a> </div>
                        </div>
                    </div>
                </div>
            </div>-->
        
<!--header end -->
<!--Breadcrumb start-->
<div class="ed_pagetitle">
    <div class="ed_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="page_title">
                    <h2>Admin</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Breadcrumb end-->

 <!--Admin login form start-->
<div class="ed_transprentbg ed_toppadder90 ed_bottompadder90" style="background-color: #eaebef;">
    <div class="container signin">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ed_heading_top ed_bottompadder50">
                    <h3>Sign in</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4" style="padding:1.2em;">
                <div></div>
                <form action="" method="POST">
                    <div class="input-group" style="margin-bottom:1.2em;">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input class="form-control" type="username" placeholder="Username" name="username">

                    </div>
                    <div class="input-group" style="margin-bottom:1.2em;">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <input class="form-control" type="password" placeholder="Password" name="password">
                    </div>
                    <button class="btn btn-primary" type="submit" name="login"><i class="glyphicon glyphicon-log-in"></i> Login</button>
                </form>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">

            </div>

        </div>
    </div>
</div>
<!--Section fourteen Admin login form ends-->
<!--main content ends -->

