<div class="ed_header_bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="pro_logo"> <a href="#"><img src="~/Content/images/header/lg7a.png" style="width:40%;height:40%;" alt="logo" /></a> </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div class="pro_menu_toggle navbar-toggle" data-toggle="collapse" data-target="#ed_menu">
                    Menu <i class="fa fa-bars"></i>
                </div>
                <div class="pro_menu">
                    <ul class="collapse navbar-collapse" id="ed_menu">
                        <li><a><span class="glyphicon glyphicon-user"></span></a></li>
                        <li><a href="Index"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
