<ul class="list-group">
    <li class="list-group-item" style="font-size:1.0em;">
        <span class="glyphicon glyphicon-inbox"></span>
        <a href="Inbox" style="color:#575757;font-weight: bold;text-decoration:none;">Inbox</a>
    </li>
    <li class="list-group-item" style="font-size:1.0em;">
        <span class="fa fa-user"></span>
        <a href="Clientreg" style="color:#575757;font-weight: bold;text-decoration:none;">Register New Delivery</a>
    </li>
    <li class="list-group-item" style="font-size:1.0em;">
        <span class="fa fa-truck"></span>
        <a href="Createtrackinfo" style="color:#575757;font-weight: bold;text-decoration:none;">Create Tracking Info</a>
    </li>
    <li class="list-group-item" style="font-size:1.0em;">
        <span class="glyphicon glyphicon-user"></span>
        <a href="Manageacct" style="color:#575757;font-weight: bold;text-decoration:none;">Manage Account</a>
    </li>
    <li class="list-group-item" style="font-size: 1.0em;">
        <span class="fa fa-edit"></span>
        <a href="Manageusers" style="color:#575757;font-weight: bold;text-decoration:none;">Manage Users</a>
    </li>
    <li class="list-group-item" style="font-size: 1.0em;">
        <span class="glyphicon glyphicon-book"></span>
        <a href="Report" style="color:#575757;font-weight: bold;text-decoration:none;">Tracking Report</a>
    </li>
</ul>
