
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!--Our expertise section one start -->
<div class="ed_transprentbg ed_toppadder90 ed_bottompadder90" id="about">
    <div class="container" style="padding-top: 100px">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="ed_video_section_discription">
                    <h4>About Delight Freight</h4>
                    <p>Our mission is to provide innovative , first rate ,comprehensive and competitive solutions to ensure the safety and security of our client's cargo. We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided.</p>
                    <span><a href="#" class="btn ed_btn ed_orange">know more</a></span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="ed_video_section">
                    <div class="embed-responsive embed-responsive-16by9">
                        <div class="ed_video">
                            <img src="~/Content/images/content/v_bg.jpg" style="cursor:pointer" alt="1" />
                            <div class="ed_img_overlay">
                                <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <iframe id="pro_video" class="embed-responsive-item" src="https://www.youtube.com/embed/LVyIqEuQWRY" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
</div>
<!--Our expertise section one end -->
<!-- Testimonial start -->
<div class="ed_graysection ed_toppadder90 ed_bottompadder90">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ed_bottompadder80">
                <div class="ed_heading_top">
                    <h3>what our client say</h3>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ed_latest_news_slider">
                    <div id="owl-demo2" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="ed_item_description">
                                <img src="~/Content/images/content/t1.jpg" alt="1" title="1" />
                                <h4>Carolyn Ayala</h4>
                                <span>CEO</span>
                                <p>Just in case there is anyone looking for it, new expertise to our knowledge base to make you happy as well.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ed_item_description">
                                <img src="~/Content/images/content/t2.jpg" alt="1" title="1" />
                                <h4>Ronnie Parker</h4>
                                <span>manager</span>
                                <p>Just in case there is anyone looking for it, new expertise to our knowledge base to make you happy as well.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ed_item_description">
                                <img src="~/Content/images/content/t3.jpg" alt="1" title="1" />
                                <h4>Kim Hiatt</h4>
                                <span>director</span>
                                <p>Just in case there is anyone looking for it, new expertise to our knowledge base to make you happy as well.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ed_item_description">
                                <img src="~/Content/images/content/t4.jpg" alt="1" title="1" />
                                <h4>Michael Garza</h4>
                                <span>Employee</span>
                                <p>Just in case there is anyone looking for it, new expertise to our knowledge base to make you happy as well.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ed_item_description">
                                <img src="~/Content/images/content/t5.jpg" alt="1" title="1" />
                                <h4>Mary J. Cole</h4>
                                <span>receptionist</span>
                                <p>Just in case there is anyone looking for it, new expertise to our knowledge base to make you happy as well.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
</div>



