
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

 <!-- Services start -->
<div class="ed_graysection ed_toppadder90 ed_bottompadder60" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ed_heading_top ed_bottompadder50" style="padding-top:100px;">
                    <h3>our best services</h3>
                </div>
            </div>
            <div class="ed_mostrecomeded_course_slider">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="ed_mostrecomeded_course">
                        <div class="ed_item_img">
                            <img src="~/Content/images/slider/s1.jpg" alt="item1" class="img-responsive">
                        </div>
                        <div class="ed_item_description ed_most_recomended_data">
                            <h4><a href="course_single.html">ground transport</a></h4>
                            <p>We service all industries including but not limited to the residential and commercial building industry, mining, oil, gas, engineering and construction and civil infrastructure projects.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="ed_mostrecomeded_course">
                        <div class="ed_item_img">
                            <img src="~/Content/images/slider/s2.jpg" alt="item1" class="img-responsive">
                        </div>
                        <div class="ed_item_description ed_most_recomended_data">
                            <h4><a href="course_single.html">warehousing</a></h4>
                            <p>We service all industries including but not limited to the residential and commercial building industry, mining, oil, gas, engineering and construction and civil infrastructure projects.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="ed_mostrecomeded_course">
                        <div class="ed_item_img">
                            <img src="~/Content/images/slider/s3.jpg" alt="item1" class="img-responsive">
                        </div>
                        <div class="ed_item_description ed_most_recomended_data">
                            <h4><a href="course_single.html">packaging & storage</a></h4>
                            <p>We service all industries including but not limited to the residential and commercial building industry, mining, oil, gas, engineering and construction and civil infrastructure projects.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="ed_mostrecomeded_course">
                        <div class="ed_item_img">
                            <img src="~/Content/images/slider/s4.jpg" alt="item1" class="img-responsive">
                        </div>
                        <div class="ed_item_description ed_most_recomended_data">
                            <h4><a href="course_single.html">door-to-door delivery</a></h4>
                            <p>We service all industries including but not limited to the residential and commercial building industry, mining, oil, gas, engineering and construction and civil infrastructure projects.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center ed_toppadder30">
                    <a href="#" class="btn ed_btn ed_orange">view  more</a>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
</div>
<!-- Services end -->
<!--Timer Section three start -->
<div class="ed_timer_section ed_toppadder90 ed_bottompadder60">
    <div class="ed_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ed_heading_top ed_bottompadder50">
                    <h3>Why Choose Us</h3>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ed_counter_wrapper">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="ed_counter">
                            <h2 class="timer" data-from="0" data-to="200" data-speed="5000"></h2>
                            <h4>Offices Worldwide</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="ed_counter">
                            <h2 class="timer" data-from="0" data-to="800" data-speed="5000"></h2>
                            <h4>Hardworking People</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="ed_counter">
                            <h2 class="timer" data-from="0" data-to="60" data-speed="5000"></h2>
                            <h4>Countries Covered</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="ed_counter">
                            <h2 class="timer" data-from="0" data-to="12" data-speed="5000"></h2>
                            <h4>Years of Experiences</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Timer Section three end -->

