
@{
    ViewBag.Title = "TrackShipment";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!--Slider form start-->
<div class="ed_form_box ed_toppadder90 ed_bottompadder60" id="track" style="padding-top:200px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ed_heading_top ed_bottompadder50">
                    <h3>track your shipment</h3>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="ed_search_form">
                    <form class="form-inline" action="" method="post">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p>Look up the status of your shipment.</p>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">

                            <div class="form-group">
                                <input type="text" placeholder="Enter Track Id..." class="form-control" name="orderno" required />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <button type="submit" class="btn ed_btn pull-right ed_orange" name="track">track</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="ed_search_image">
                    <img src="~/Content/images/content/track.png" alt="" title="">
                </div>
            </div>
        </div>
    </div>
</div>
<!--Slider form end-->
<!--chart section start -->
<div class="ed_transprentbg ed_toppadder100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ed_counter_wrapper">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="ed_chart_ratio">
                            <i class="fa fa-bus" aria-hidden="true"></i>
                            <h4>road carriage</h4>
                            <p>We have our own vehicle fleet and set flexible prices for transportation services for the delivery of goods.This can not be done on any other mode of transport, where there are fixed rates for customer service.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="ed_chart_ratio">
                            <i class="fa fa-plane" aria-hidden="true"></i>
                            <h4>air carriage</h4>
                            <p>We secure priority spaces and deliver air freight services to clients in major cities and continents across the globe at very competitive rates, thanks to our partnership with highly reputable airliners.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="ed_chart_ratio">
                            <i class="fa fa-ship" aria-hidden="true"></i>
                            <h4>ocean carriage</h4>
                            <p>Delight freight leverages international partnerships in her quest to deliver quality sea freight services from major seaports across the globe and healthy business relationships with key carriers to her company.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- chart Section end -->

